extends layout

block vars
  - var h1 = "Profile for " + user.name

block content
    //h1 Users

    .row
      .col-md-3.col-sm-4
        .panel.panel-default
            .panel-heading
              a(href='/users/#{user.id}') #{user.name}
              //                  .pull-right
              //                    // <div class="btn-group">
              //                    button.btn.btn-success.btn-circle.btn-stoplight.green-button(type='button')
              //                    | &#x9;&#x9;&#x9;&#x9;
              //                    button.btn.btn-warning.btn-circle.btn-stoplight.yellow-button(type='button')
              //                    | &#x9;&#x9;&#x9;&#x9;
              //                    button.btn.btn-danger.btn-circle.btn-stoplight.red-button(type='button')
            // /.panel-heading
            //#panel-background.panel-body.user-panel-green
            #panel-background.panel-body
              .user-picture
                img(src='pages/img/sarah.png')